.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#offcanvasNavbar {
    max-width: 15%;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.nav-link:hover, .nav-link:focus {
    background-color: #FC6736 !important;
    color: #FEECE2;
    border-radius: 0.5rem; /* Rounded corners, Bootstrap's .rounded class equivalent */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Subtle shadow, similar to Bootstrap's shadow-sm */
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, border-radius 0.2s; /* Smooth transition */
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.animated--fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 20ms;
    -webkit-animation-timing-function: opacity cubic-bezier(0, 1, 0, 1);
    animation-timing-function: opacity cubic-bezier(0, 1, 0, 1);
}

/* This will target the dropdown toggle and remove the default arrow */
.dropdown-toggle::after {
    display: none;
}

/* Make sure your three dots icon is not affected by the line above */
.bi-three-dots-vertical::after {
    display: inline-block;
}

.item-dropdown-font {
    font-size: small;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #FC6736 !important;
    color: #FEECE2;
}

.table_link {
    text-decoration: none;
}

.table_link:hover, .table_link:focus {
    text-decoration: none;
    background-color: #FC6736;
    color: #FEECE2;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%) !important;
}

/* AGENDA */

/* Make sure the container can grow and is aligned to the right */
.agenda-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  /*display: flex;*/
  /*justify-content: flex-end; !* Aligns the container to the right *!*/
}

/* Style navigation links */
.navigation {
  text-align: right !important; /* Align navigation links to the right */
  padding: 10px; /* Add some padding for spacing */
}

.navigation a {
  margin: 0 5px; /* Reduce margin between links */
  text-decoration: none;
  color: #F5F7F8 !important;
  font-size: 14px;
  font-weight: bold;
  background-color: #0F0F0F !important;
  padding: 5px 5px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.navigation a:hover {
  background-color: #008170 !important;
}

/* Style the calendar */
.calendar {
  border-collapse: collapse;
  margin: auto; /* Center the calendar if there's space on the sides */
  font-size: 18px;
  text-align: end;
  table-layout: fixed;
  position: relative;
  top: 80px; /* Space from the top */
  right: 25px; /* Space from the right */
}

/* Make the calendar header and cells square */
.calendar th {
  /* Remove padding */
  border: 1px solid #F5F7F8;
  vertical-align: top; /* Align content to the top */
  font-size: 18px;
  padding: 0 5px 0 0;
}

.calendar td {
  padding: 0; /* Remove padding */
  border: 1px solid #0F0F0F;
  vertical-align: top; /* Align content to the top */
}

/* Adjust the height of each row to maintain square cells */
.calendar tr {
  height: 5.5vw; /* Set height relative to the width of the screen */
}

/* Set the width of each cell to maintain a square shape */
.calendar th {
  width: 7.5vw; /* Equal to height to make cells square */
}

.calendar td {
  width: 7.5vw; /* Equal to height to make cells square */
}

/* Position the day number to the top right */
.calendar td {
  position: relative; /* Allows absolute positioning within the cell */
}

.calendar td div.day-number {
  position: absolute;
  top: 5px; /* Space from the top */
  right: 5px; /* Space from the right */
  font-size: 12px; /* Adjust size as needed */
  text-decoration: none;
}

.calendar td div.day-number a:hover {
  text-decoration: underline;
}

.calendar td div.day-number a {
  text-decoration: none;
}

.calendar td.noday {
  background-color: #198754;
}

.calendar td.noday:hover {
  background-color: #198754;
}

.calendar th {
  background-color: #0F0F0F;
  color: #F5F7F8;
}

.calendar td:hover {
  background-color: #F5F7F8;
}

.calendar .today div.day-number {
  background-color: #F5F7F8;
}

.today-button {
  text-decoration: none;
  color: #198754 !important;
  font-size: 14px;
  font-weight: bold;
  background-color: #0F0F0F !important;
  padding: 5px 5px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.today-button:hover {
    background-color: #008170 !important;
}

#calendar-container {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#calendar-container table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table header */
#calendar-container th {
    background-color: #198754;
    border: 1px solid black;
    color: #F5F7F8;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Style the table cells */
#calendar-container td {
    width: 14.28%; /* Divide by 7 days */
    height: 100px; /* Fixed height for square cells. Adjust as needed */
    border: 1px solid black;
    vertical-align: top;
    padding: 5px;
    position: relative;
}

/* Position the day number at the top right */
#calendar-container .day-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px; /* Smaller font size for day numbers */
}

/* Style for today */
#calendar-container .today .day-number {
    font-weight: bold;
    color: #0F0F0F;
}

/* Style the table cells that are not part of the current month */
#calendar-container .noday {
    background-color: #198754;
}

/* Style the prev and next buttons */
.prev-month, .next-month {
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
}

/* Style the 'Today' button */
.today-button {
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

.prev-month:hover  {
    background-color: #41644A !important;
}
.next-month:hover  {
    background-color: #41644A !important;
}
.today-button:hover {
    background-color: #41644A !important;
}

/* Adjust the size of the calendar's navigation header */
#calendar-container thead tr {
    line-height: 50px;
}

/* Adjust the font size for the entire calendar */
#calendar-container table {
    font-size: 16px;
}


#calendar-container td.today {
    color: #41644A;
}

#toastContainer {
    position: fixed; /* changed from absolute to fixed */
    top: 1rem; /* Adjust spacing from the top */
    right: 1rem; /* Adjust spacing from the right */
    z-index: 1050; /* Ensure it's above most other content */
}

.event-in-calendar {
    font-size: 11px;
    font-weight: bold;
}